[submodule "modules/tmux"]
	path = modules/tmux
	url = git@github.com:duritong/puppet-tmux.git
[submodule "modules/rvm"]
	path = modules/rvm
	url = git://github.com/blt04/puppet-rvm.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = git@github.com:akumria/puppet-postgresql.git
[submodule "modules/phantomjs"]
	path = modules/phantomjs
	url = git@github.com:boxen/puppet-phantomjs.git
[submodule "modules/vim"]
	path = modules/vim
	url = git@github.com:jivagoalves/puppet-vim.git
[submodule "modules/youcompleteme"]
	path = modules/youcompleteme
	url = git@github.com:jivagoalves/puppet-youcompleteme.git
